$textColor: #ffffff;
$arsenic: #3c3c43;
$secondary25: #eceefd;
$secondary50: #dbebfd;
$secondary100: #bfdcfc;
$secondary200: #aed3fb;
$secondary400: #99c4f5;
$secondary500: #8abffa;
$secondary600: #599ce7;
$secondary800: #337ac9;
$neutral0: #ffffff;
$neutral25: #f9fafb;
$neutral50: #f4f5f7;
$neutral100: #eef0f2;
$neutral200: #dee1e5;
$neutral300: #a7adb2;
$neutral400: #9499a0;
$neutral500: #626576;
$neutral600: #4d5761;
$neutral700: #344054;
$neutral800: #1f2a37;
$neutral900: #111927;
$orange25: #fff9f5;
$orange50: #fff4ed;
$orange100: #ffe6d5;
$orange200: #ffceae;
$orange300: #ff8a66;
$orange400: #f36d44;
$orange500: #ef5020;
$orange600: #e04516;
$orange700: #b93b15;
$orange800: #933519;
$orange900: #772a17;
$orangeRyb: #f49f00;
$wash: #202327;
$wash50: #2e3138;
$wash100: #18191a;
$gray25: #fcfcfd;
$gray50: #f9fafb;
$gray100: #f2f4f7;
$gray200: #eaecf0;
$gray300: #d0d5dd;
$gray400: #98a2b3;
$gray500: #667085;
$gray600: #475467;
$gray700: #344054;
$gray800: #1d2939;
$gray900: #101828;
$primary25: #f5f8ff;
$primary50: #eff4ff;
$primary100: #d1e0ff;
$primary200: #b2ccff;
$primary300: #84adff;
$primary400: #528bff;
$primary500: #2970ff;
$primary600: #155eef;
$primary700: #004eeb;
$primary800: #0040c1;
$primary900: #00359e;
$primary1100: #030a65;
$error25: #fffbfa;
$error50: #fef3f2;
$error100: #fee4e2;
$error200: #fecdca;
$error300: #fda29b;
$error400: #f97066;
$error500: #f04438;
$error600: #d92d20;
$error700: #b42318;
$error800: #912018;
$error900: #7a271a;
$warning25: #fffcf5;
$warning50: #fffaeb;
$warning100: #fef0c7;
$warning200: #fedf89;
$warning300: #fec84b;
$warning400: #fdb022;
$warning500: #f79009;
$warning600: #dc6803;
$warning700: #b54708;
$warning800: #93370d;
$warning900: #7a2e0e;
$yellow25: #fffbf1;
$yellow50: #fff6de;
$yellow100: #ffe396;
$yellow200: #ffdb78;
$yellow300: #ffd45e;
$yellow400: #ffc62c;
$yellow500: #ffbf0f;
$yellow600: #f6b400;
$yellow700: #f6a200;
$yellow800: #eb9b00;
$yellow900: #e29601;
$yellowDark50: #fff4ed;
$yellowDark200: #ffd6ae;
$yellowDark400: #ff692e;
$success25: #f6fef9;
$success50: #ecfdf3;
$success100: #d1fadf;
$success200: #a6f4c5;
$success300: #6ce9a6;
$success400: #32d583;
$success500: #12b76a;
$success600: #039855;
$success700: #027a48;
$success800: #05603a;
$success900: #054f31;
$blue50: #f8f9fc;
$blue400: #717bbc;
$blue500: #00359e;
$blue900: #00075b;
