@font-face {
  font-family: 'Inter-Black';
  font-style: normal;
  src: url('/fonts/Inter-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-BlackItalic';
  font-style: normal;
  src: url('/fonts/Inter-BlackItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-Bold';
  font-style: normal;
  src: url('/fonts/Inter-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-BoldItalic';
  font-style: normal;
  src: url('/fonts/Inter-BoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-ExtraBold';
  font-style: normal;
  src: url('/fonts/Inter-ExtraBold.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-ExtraBoldItalic';
  font-style: normal;
  src: url('/fonts/Inter-ExtraBoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-ExtraLight';
  font-style: normal;
  src: url('/fonts/Inter-ExtraLight.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-ExtraLightItalic';
  font-style: normal;
  src: url('/fonts/Inter-ExtraLightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-Italic';
  font-style: normal;
  src: url('/fonts/Inter-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-Light';
  font-style: normal;
  src: url('/fonts/Inter-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-Italic';
  font-style: normal;
  src: url('/fonts/Inter-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-LightItalic';
  font-style: normal;
  src: url('/fonts/Inter-LightItalic.otf') format('opentype');
}
@font-face {
  font-family: 'Inter-Medium';
  font-style: normal;
  src: url('/fonts/Inter-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-MediumItalic';
  font-style: normal;
  src: url('/fonts/Inter-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-Regular';
  font-style: normal;
  src: url('/fonts/Inter-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-SemiBold';
  font-style: normal;
  src: url('/fonts/Inter-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-Regular';
  font-style: normal;
  src: url('/fonts/Inter-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-SemiBold';
  font-style: normal;
  src: url('/fonts/Inter-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-SemiBoldItalic';
  font-style: normal;
  src: url('/fonts/Inter-SemiBoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-Thin';
  font-style: normal;
  src: url('/fonts/Inter-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-ThinItalic';
  font-style: normal;
  src: url('/fonts/Inter-ThinItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-V';
  font-style: normal;
  src: url('/fonts/Inter-V.ttf') format('opentype');
}
