.highlightProgress {
  background: linear-gradient(90deg, #f39200 -1.2%, #ffe295 100%);
  border-radius: 0px 8px 8px 0px;
}

.headerBg {
  background: linear-gradient(195.41deg, #00075b 0%, #00359e 97.87%);
}
